.side-nav--collapsed {
  .sb-sidebar__header {
    display: none !important;
  }

  .sb-sidebar-card--expanded {
    display: none !important;
  }
}

.side-nav--expanded {
  .sb-sidebar__header--collapsed {
    display: none !important;
  }

  .sb-sidebar-card--collapsed {
    display: none !important;
  }
}